html
    title
        | Scoooby
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
        script(src='https://code.jquery.com/jquery-2.2.3.min.js',integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=",crossorigin="anonymous",type='text/javascript')
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

    .row
        .col-sm-12
            center
                b
                    font(size = '30')
                        .header
                            |SCOOOBY
    br
    br
    br
    br
    br
    br
    .row
        .col-sm-2
        .col-sm-4
            center
                a(href='/selectionGap')
                    .card
                        br
                        br
                        br
                        center

                            font(size = '5')
                                | What are we missing?
                        br
                        img(src='/images/magni.png' class='card-image')
        .col-sm-4
            center
                a(href='/trending')
                    .card
                        br
                        br
                        br
                        center

                             font(size = '5')
                                |What's Trending?
                        br
                        img(src='/images/trends.jpeg' class='card-image')




